
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i&display=swap');

body {
    background: #191919;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h1 {
    color: #f5f5f5;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: #f5f5f5;
    font-size: 20px;
}

h3 {
    color: #f5f5f5;
    font-size: 18px;
}

p {
    color: #626262;
    font-size: 12px;
}

.heading {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top:30vh;
    text-align: center;
}

.main {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: box-shadow 0.300s;
    -moz-transition: box-shadow 0.300s;
    transition: box-shadow 0.300s;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}

.main:hover {
    -webkit-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
}

.main:focus {
    -webkit-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.33);
}

.yturl {
    -webkit-appearance: none;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: width 0.300s, border 0.300s;
    -moz-transition: width 0.300s, border 0.300s;
    transition: width 0.300s, border 0.300s;

	border-radius:10px 0px 0px 10px;
    width:400px;
    height: 40px;
	text-align: left;
	border: 2px solid #2e2e2e;
    background: #2e2e2e;
    color: #f5f5f5;
    outline: none;
    padding: 6px 8px 6px 8px;
    font-size:14px;
    
}

.yturl:focus {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, #2E66AA, #562390) 20% stretch;
    width: 800px;
}

.conv {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: background 0.300s, border 0.300s, color 0.300s;
    -moz-transition: background 0.300s, border 0.300s, color 0.300s;
    transition: background 0.300s, border 0.300s, color 0.300s;

    -webkit-appearance: none;
	border-radius: 0px 10px 10px 0px;
	border:2px solid #2e2e2e;
    background: #2e2e2e;
    color:#f5f5f5;
    width: 56px;
    height: 56px;
    padding: 0px;
    outline: none;
    cursor: pointer;
}

.conv:hover {
    border:2px solid #562390;
    background: #562390;
    color:#191919;
}

.conv div {
    padding: 0;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.mime {
    display: block;
    padding: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.mimetype-selector {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: background 0.300s, border 0.300s, color 0.300s;
    -moz-transition: background 0.300s, border 0.300s, color 0.300s;
    transition: background 0.300s, border 0.300s, color 0.300s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    text-align: center;
    width: 300px;
    height: 40px;
    background: #2e2e2e;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #2e2e2e;
    color: #f5f5f5;
    padding: 6px 6px 6px 10px;
}

.mimetype-selector:hover {
    border:2px solid #562390;
    background: #562390;
}

.info {
    left: 1;
    bottom: 1;
    text-align: center;
}

.info p {
    font-size: 12px;
    color: #f5f5f5;
}

.tos-body {
    text-align: left;
    width: 500px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 90px;
}

.footer {
    background: #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #626262;
    padding: 20px 0px 20px 0px;
    text-align: right;
}

a {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: color 0.300s;
    -moz-transition: color 0.300s;
    transition: color 0.300s;

    text-decoration: none;
    color: #626262;
    font-weight: bold;
    margin: 20px;

}

a:hover {
    color: #562390;
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #121212ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2E66AA; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #204775; 
}